<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="LoqateApiKey" value="GJ91-GG61-UR99-FN89"/>
    <add key="LoqateBaseUrl" value="https://api.addressy.com/Capture/Interactive"/>
    <add key="LoqateInitialFindResource" value="Find/v1.10/json3.ws?Key={APIKEY}&amp;IsMiddleware=True;&amp;Origin={COUNTRIES}&amp;Countries={COUNTRIES}&amp;Text={QUERY}"/>
    <add key="LocateSubsequentFindResource" value="Find/v1.10/json3.ws?Key={APIKEY}&amp;Origin={COUNTRIES}&amp;Limit=1000&amp;Container={QUERY}"/>            
    <add key="LoqateRetrieveResource" value="Retrieve/v1.00/json3.ws?Key={APIKEY}&amp;Id={QUERY}"/>
  </appSettings>
</configuration>